rfc7230 websocket upgrade compliance

_If a server receives both an Upgrade and an Expect header field with the "100-continue" expectation (Section 5.1.1 of [RFC7231]), the server MUST send a 100 (Continue) response before sending a 101 (Switching Protocols) response._
https://tools.ietf.org/html/rfc7230#section-6.7

The handshake logic has to check if the decorator set "Expect: 100-continue", and know to read the Continue response first.