Message classes and HTTP/2.0

Just wanted to let the author(s) know that we're successfully using the Beast message classes in an HTTP/2.0 proxy server implementation based on the nghttp2 library.  There are a couple of trivial warts, like when printing the messages...

     HTTP/2.0        <<< request line isn't applicable, nor correct
    :method: GET
    :path: /
    :scheme: http
    :authority: 127.0.0.1:8080
    user-agent: curl/7.64.1
    accept: */*

    HTTP/2.0 200 OK        <<< status line isn't applicable, nor correct
    :status: 404

...but otherwise it works.  There is also unavoidable header and payload copying that occurs, due to nghttp2 itself.


I am very glad to hear this, feedback about how the library is being used is helpful when I make improvements! If there is anything you'd like me to change or improve, or add, this is a good time and place to mention it. I am adding this issue to the "Great HTTP Refactor" project, which I will begin in 2020 (the plan is to rewrite/refactor all the HTTP code to fix design flaws).


There are some properties unique to whether the message is HTTP/1.x or HTTP/2.0.  The output logic is one example as illustrated above.  Another would be enum and string support for HTTP/2.0 (pseudo) headers.  HTTP/2.0 doesn't require payload preparation either.  All fairly trivial, fortunately.

And there's no such thing as chunked in HTTP/2?

Correct on chunked...

"HTTP/2 uses DATA frames to carry message payloads.  The "chunked" transfer encoding defined in Section 4.1 of [RFC7230] MUST NOT be used in HTTP/2."

Yes, we're only using operator << in debug logs, that's why I said these are trivial nits.